::-webkit-scrollbar {
  height: 0.75rem;
  width: 0.75rem;
  background: #ebebeb;
}

::-webkit-scrollbar-thumb {
  background: #cdcdcd;
  -webkit-border-radius: 3.125rem;
}

::-webkit-scrollbar-corner {
  background: #000;
}